[submodule "Vendor/premake"]
	path = Vendor/premake
	url = https://github.com/premake/premake-core.git
[submodule "printfTester/Dependencies/Air-Tester"]
	path = printfTester/Dependencies/Air-Tester
	url = https://github.com/Hyxogen/Air-Tester.git
	branch = development
